apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: devops-part3
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5173
          env:
            - name: VITE_API_URL
              value: "http://backend:5000/api"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: devops-part3
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
  type: ClusterIP
